:root {
  --font-family: "Montserrat"; /* Font family */
}

/* Define custom font faces */
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 600;
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a smooth transition to all interactive elements */
a,
button {
  transition: all 0.3s ease;
}

/* Set a global font-family */
body {
  font-family: var(--font-family), sans-serif;
  color: #000000;
  line-height: 1.6;
  background-color: #ffffff;
}

/* Ensure images are responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Set up base styles for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
}

/* Base styles for paragraphs */
p {
  margin-bottom: 0.5rem;
}

/* Set up base styles for lists */
ul {
  list-style: none;
}

li {
  margin-bottom: 0.5rem;
}

/* Ensure links have a default style */
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style buttons */
button {
  font-family: var(--font-family), sans-serif;
  font-weight: 200;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

